/* Setup */
*[class*="vpa-"] {
  opacity: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

/* IE FIX */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  *[class*="vpa-"] {
    opacity: 1;
  }
}

/* ANIMATIONS */
@keyframes vpa-from-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes vpa-from-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes vpa-from-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes vpa-flip {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes vpa-fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.vpa-pulse { opacity: 1; }
@keyframes vpa-pulse {
  20% {
    transform: scale(1.0);
    opacity: 1;
  }
  30% {
    transform: scale(1.2);
    opacity: 1;
  }
  40% {
    transform: scale(1.0);
    opacity: 1;
  }
}